In [53]:
import os
import pymysql
import pandas as pd
from tqdm import tqdm
from dotenv import load_dotenv

pymysql.install_as_MySQLdb()

## Connect DB

In [54]:
load_dotenv()
ENDPOINT = os.environ.get("dev_db_endpoint")
USER = os.environ.get("dev_db_user")
PASSWORD = os.environ.get("dev_db_password")

In [55]:
conn = pymysql.connect(
    host=ENDPOINT,
    user=USER,
    password=PASSWORD,
    database="aresa",
    port=3306
)

In [56]:
cur = conn.cursor()

In [57]:
from sqlalchemy import create_engine
import sqlalchemy

In [58]:
engine = create_engine(f"mysql+mysqldb://{USER}:{PASSWORD}@{ENDPOINT}:3306/aresa")
# http://i5on9i.blogspot.com/2020/05/no-module-named-mysqldb.html

## Insert Data

In [59]:
df = pd.read_csv("data/한국은행/한국은행_100대_통계지표_19800101_20221031.csv")
df.columns = [column.lower() for column in df.columns]

/var/folders/3_/s6t6k_zn7vz2v98kkkm6d7yr0000gn/T/ipykernel_10637/3833214275.py:1: DtypeWarning: Columns (4,6,7,8,9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/한국은행/한국은행_100대_통계지표_19800101_20221031.csv")

In [60]:
df.head()

,stat_100_num,stat_100_nm,stat_code,stat_name,item_code1,item_name1,item_code2,item_name2,item_code3,item_name3,item_code4,item_name4,unit_name,time,data_value,cycle
0,1,한국은행 기준금리,722Y001,1.3.1. 한국은행 기준금리 및 여수신금리,101000,한국은행 기준금리,NaN,NaN,NaN,NaN,NaN,NaN,연%,19990506,4.75,D
1,1,한국은행 기준금리,722Y001,1.3.1. 한국은행 기준금리 및 여수신금리,101000,한국은행 기준금리,NaN,NaN,NaN,NaN,NaN,NaN,연%,19990507,4.75,D
2,1,한국은행 기준금리,722Y001,1.3.1. 한국은행 기준금리 및 여수신금리,101000,한국은행 기준금리,NaN,NaN,NaN,NaN,NaN,NaN,연%,19990508,4.75,D
3,1,한국은행 기준금리,722Y001,1.3.1. 한국은행 기준금리 및 여수신금리,101000,한국은행 기준금리,NaN,NaN,NaN,NaN,NaN,NaN,연%,19990509,4.75,D
4,1,한국은행 기준금리,722Y001,1.3.1. 한국은행 기준금리 및 여수신금리,101000,한국은행 기준금리,NaN,NaN,NaN,NaN,NaN,NaN,연%,19990510,4.75,D

In [61]:
df.to_sql('bok_stat100', engine, schema="aresa", index=False, if_exists='append', chunksize=10000)

121240