In [1]:
"""국토교통부 건축물대장 총괄표제부
- 링크: https://www.data.go.kr/data/15044713/openapi.do
"""
from dotenv import load_dotenv
import os
import requests
import pandas as pd
import io
import xmltodict
import json
from tqdm import tqdm_notebook

# import xml.etree.ElementTree as et


# load .env
load_dotenv()
getRTMSDataSvcAptTradeDev_en = os.environ.get("getRTMSDataSvcAptTradeDev_en")
getRTMSDataSvcAptTradeDev_de = os.environ.get("pubkey_de")

In [2]:
SIGUNGU_CODE = 11470
B_CODE = 10200

In [3]:
url = "http://apis.data.go.kr/1613000/BldRgstService_v2/getBrRecapTitleInfo"

In [4]:
dict_list = []

for i in range(3):
    params = {
        "serviceKey": getRTMSDataSvcAptTradeDev_de,
        "sigunguCd": SIGUNGU_CODE,
        "bjdongCd": B_CODE,
        "platGbCd": i,
        "numOfRows": 100000
    }

    response = requests.get(url, params=params)
    try:
        dict_content = xmltodict.parse(response.content)["response"]["body"]["items"]["item"]
        dict_list.append(dict_content)
    except Exception as e:
        print(e)
        print(i)
# df = pd.DataFrame(dict_content)

# df.to_csv(f"data/서울특별시_양천구_아파트매매/서울특별시_양천구_아파트매매_{month}.csv",
#           encoding="utf8",
#           index=False
# )

'NoneType' object is not subscriptable
2

In [5]:
new_list = dict_list[0]
new_list.append(dict_list[1])

In [6]:
len(new_list)

189

In [14]:
pd.DataFrame(dict_list[0])

,archArea,atchBldArea,atchBldCnt,bcRat,bjdongCd,bldNm,block,bun,bylotCnt,crtnDay,...,regstrKindCdNm,rnum,sigunguCd,splotNm,stcnsDay,totArea,totPkngCnt,useAprDay,vlRat,vlRatEstmTotArea
0,132.24,0,0,0,10200,None,None,0039,0,20210112,...,총괄표제부,1,11470,None,None,132.24,0,None,0,132.24
1,304.14,0,0,53.17,10200,동양부로빌,None,0042,0,20180914,...,총괄표제부,2,11470,None,20170112,1601.15,15,20171121,193.27,1105.53
2,145.45,0,0,0,10200,None,None,0092,0,20210112,...,총괄표제부,3,11470,None,None,145.45,0,None,0,145.45
3,82.65,0,0,0,10200,None,None,0114,0,20120821,...,총괄표제부,4,11470,None,None,82.65,0,None,0,82.65
4,411.3,0,0,48.74,10200,None,None,0128,2,20211104,...,총괄표제부,5,11470,None,20150415,1265.24,26,20150925,149.94,1265.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,8417.01,46718.54,9,19.57,10200,목동 롯데캐슬 위너,None,0956,0,20181213,...,총괄표제부,185,11470,None,20020511,173805.72,1440,20050623,290.68,125015.71
185,7503.11,0,0,31.41,10200,목동 현대 하이페리온2,None,0961,1,20220506,...,총괄표제부,186,11470,None,20030225,230344.18,1897,20061130,631.71,150913.27
186,472.6,726.87,1,51.66,10200,성재세인트,None,0964,0,20171205,...,총괄표제부,187,11470,None,20121107,2553.02,30,20130510,199.6,1826.15
187,5010.8798,23769.1694,8,27.84,10200,목동롯데캐슬마에스트로,None,0965,0,20190523,...,총괄표제부,188,11470,None,20160523,63003.9209,486,20190423,217.11,39071.6744
188,102.47,0,0,0,10200,None,None,0007,0,20120821,...,총괄표제부,1,11470,None,None,102.47,0,None,0,102.47

In [35]:
df = pd.DataFrame(new_list)
df.to_csv("data/서울특별시_양천구_건출물대장_총괄표제부.csv",
          encoding="utf8",
          index=False
)