In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("data/도시별인구/101_DT_1DA7004S_20221019200907.csv", encoding="cp949")
df_pivot = pd.read_csv("data/도시별인구/101_DT_1DA7004S_20221019200826.csv", encoding="cp949")

In [29]:
ymd_list = [data.split(" ")[0].replace(".", "") for data in df.시점]

In [30]:
df["시점"] = ymd_list

In [31]:
df.drop(columns="Unnamed: 11", inplace=True)

In [32]:
df.head(5)

,시도별,시점,15세이상인구[천명],경제활동인구[천명],취업자[천명],실업자[천명],비경제활동인구[천명],경제활동참가율[%],실업률[%],고용률[%],15-64세 고용률[%]
0,계,199906,35737.0,22088.0,20599.0,1489.0,13649.0,61.8,6.7,57.6,60.3
1,계,199907,35779.0,22062.0,20586.0,1476.0,13717.0,61.7,6.7,57.5,60.2
2,계,199908,35815.0,21896.0,20532.0,1364.0,13918.0,61.1,6.2,57.3,60.0
3,계,199909,35849.0,22155.0,20999.0,1155.0,13694.0,61.8,5.2,58.6,61.2
4,계,199910,35885.0,22277.0,21170.0,1108.0,13608.0,62.1,5.0,59.0,61.6

In [33]:
df.to_csv("data/도시별인구/101_DT_M_199906_202209.csv", encoding="utf8", index=False)